body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.contact-details-main{
  padding: 0;
}
.contact-details-main small{
  font-weight: 700;
}
.contact-details-main label{
  color: #666666;
  font-weight: normal;
}
.component-header{
  border-left: 4px solid #db0011;
  padding-left: 10px;
}
.btn-danger{
  background-color: #db0011;
    border-color: #db0011;
}

.row .progressbar{
  padding: 0;
}
.ack-main{
  background-color: #474c4a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.btn.btn-danger{
  border-radius: 0;
}
